In [14]:
import numpy as np
mylist =["red", "blue", "green", "orange", "yellow", "white", "black"]
print(mylist[:4])

['red', 'blue', 'green', 'orange']

In [15]:
#mylist =["red", "blue", "green"]
#[print(x) for x in mylist]

In [16]:
import copy
mylist = ['red','blue']
l1 = copy.copy(mylist)

In [17]:
l2 = copy.deepcopy(mylist)

In [ ]:
l1

In [ ]:
colors = {"violet", "magenta", "brown"}
colors

In [ ]:
import cmath

[print(x) for x in cmath.polar(complex(1+2j))]

In [ ]:
d = { 'car': 1, 'brand': 2 }
print(*d.values(),sep=',')

In [ ]:
ar = np.array([1,2,3])

In [ ]:
ar.dtype

In [20]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="12345678"
)

In [21]:
cursor = mydb.cursor()

In [31]:
cursor.execute('use classicmodels')
cursor.execute('select * from customers')
myresult = cursor.fetchall()
len(myresult)

122

In [32]:
import pandas as pd

In [34]:
df = pd.DataFrame(myresult)

In [35]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",None,Nantes,None,44000,France,1370.0,21000.00
1,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,None,Las Vegas,NV,83030,USA,1166.0,71800.00
2,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611.0,117300.00
3,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",None,Nantes,None,44000,France,1370.0,118200.00
4,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,None,Stavern,None,4110,Norway,1504.0,81700.00

In [41]:
df.columns = ['ID','First_Name','Last_Name',]

InternalError: Unread result found