In [158]:
import numpy as np
import nltk
import pandas as pd
import string
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Minhazur.Rahman\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [159]:
df = pd.read_csv('twitter.csv')
bullying_keywords = pd.read_csv('bullying_lexicons.csv')

In [160]:
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [168]:
def remove_punctuation(text):
    tweet = [char for char in text if char not in string.punctuation]
    tweet = ''.join(tweet)
    tweet = ' '.join([word for word in tweet.split() if word.lower() not in nltk.corpus.stopwords.words('english')])
    return tweet

In [169]:
remove_punctuation('@i when love my-mom')

'love mymom'

In [170]:
df['tweet'] = df.tweet.map(remove_punctuation)

In [171]:
df.head()

   id  label                                              tweet
0   1      0  user father dysfunctional selfish drags kids d...
1   2      0  user user thanks lyft credit cant use cause do...
2   3      0                                     bihday majesty
3   4      0  model love u take u time urð± ðððð...
4   5      0                      factsguide society motivation

In [172]:
df.head()

   id  label                                              tweet
0   1      0  user father dysfunctional selfish drags kids d...
1   2      0  user user thanks lyft credit cant use cause do...
2   3      0                                     bihday majesty
3   4      0  model love u take u time urð± ðððð...
4   5      0                      factsguide society motivation

In [190]:
#df.to_csv('clean_weetes.csv')
df.tweet.map(lambda x: set(x.split()))

0        {run, drags, father, dysfunction, user, kids, ...
1        {dont, vans, thanks, use, getthanked, credit, ...
2                                        {majesty, bihday}
3        {urð±, ð¦ð¦ð¦, take, model, time, love...
4                        {society, motivation, factsguide}
                               ...
31957    {isz, youuuððððððððð...
31958    {shame, see, mantle, airwaves, wrap, hero, gen...
31959    {listening, morning, work, otw, songs, sad, mo...
31960    {condemns, temple, user, sikh, vandalised, cal...
31961                                {thank, user, follow}
Name: tweet, Length: 31962, dtype: object

In [191]:
keywords = set(bullying_keywords['0'])

In [192]:
def get_label(tweet):
    return (1 if bool(len(set(tweet.split()).intersection(keywords))) else 0)

In [193]:
df['label'] = df.tweet.map(get_label)

In [194]:
df.head()

   id  label                                              tweet
0   1      0  user father dysfunctional selfish drags kids d...
1   2      0  user user thanks lyft credit cant use cause do...
2   3      0                                     bihday majesty
3   4      1  model love u take u time urð± ðððð...
4   5      0                      factsguide society motivation

In [218]:
bullying_tweets = df.loc[(df.label==1)]
bullying_tweets.loc[13,['tweet']]

tweet    user cnn calls michigan middle school build wa...
Name: 13, dtype: object