1)	What are the top three genre of movies with the highest average earnings? 

2)	Do movies with sequels tend to have higher gross earnings than the movies without sequels. You can pick the last movie to come out for a prequel.
<br>

In [118]:
import pandas as pd
import numpy as np

In [119]:
df = pd.read_excel('hollywood.xlsx')
df['movie_board_rating_display_name'].value_counts()

R            448
PG-13        441
PG           182
Not Rated     83
G             39
NC-17          3
Name: movie_board_rating_display_name, dtype: int64

In [120]:
df.shape

(1196, 15)

In [121]:
## To check if there is any null value in the dataframe
df.isnull().any()

id                                    False
name                                  False
display_name                          False
production_year                       False
movie_sequel                          False
creative_type                         False
source                                False
production_method                     False
genre                                 False
language                              False
board_rating_reason                   False
movie_board_rating_display_name       False
movie_release_pattern_display_name    False
total                                 False
Category                              False
dtype: bool

<br>
<h3>1) What are the top three genre of movies with the highest average earnings?</h3>

In [122]:
movies_grouped_by_genre = df[['total','genre']].groupby('genre',as_index=False)

In [123]:
## This line of code finds total earning by each genre
total_earnings_by_genre = movies_grouped_by_genre.sum()

In [124]:
## This line of code finds total number of movies by each genre
total_number_of_movies_by_genre = movies_grouped_by_genre.count()

total_earnings_by_genre['avg_earnings'] = total_earnings_by_genre['total']/total_number_of_movies_by_genre['total']
total_earnings_by_genre

                  genre  total  avg_earnings
0                Action  25180    203.064516
1             Adventure  32369    302.514019
2          Black Comedy    648     54.000000
3                Comedy  23460     90.230769
4   Concert/Performance    270     45.000000
5           Documentary    914     16.925926
6                 Drama  16493     51.380062
7                Horror   5822     78.675676
8       Multiple Genres     31      3.444444
9               Musical   1718    143.166667
10      Romantic Comedy   5900     73.750000
11    Thriller/Suspense  11935     91.106870
12              Western    485     80.833333

In [125]:
total_earnings_by_genre = total_earnings_by_genre.sort_values(['avg_earnings'],ascending=False)

<b>Final Answer</b>

In [126]:
total_earnings_by_genre['genre'].head(3)

1    Adventure
0       Action
9      Musical
Name: genre, dtype: object

<br>
<h3>2) Do movies with sequels tend to have higher gross earnings than the movies without sequels. You can pick the last movie to come out for a prequel.</h3>

In [127]:
movie_with_sequel = df[df['movie_sequel']>0].groupby('name')

In [129]:
#movie_with_sequel[movie_with_sequel['name'].str.contains('Harry')]

<br>
<h3> 3)	Find the proportion (percentage) of movies by ratings for English language and others (all other languages). Are proportions significantly different from each other? </h3>

In [130]:
movies_by_language = df[['name','language']].groupby('language')
movies_by_language.count()
english_movies = df[df['language']=='English']
other_language_movies = df[df['language']!='English']

In [179]:
proportions_by_rating = pd.DataFrame(english_movies['movie_board_rating_display_name'].value_counts())
rating_labels = proportions_by_rating.index
proportions_by_rating['rating'] = rating_labels
proportions_by_rating.index = [i for i in range(1,len(proportions_by_rating)+1)]
total = sum(english_movies['movie_board_rating_display_name'].value_counts())
proportions_by_rating['total_movies'] = proportions_by_rating['movie_board_rating_display_name']
proportions_by_rating['proportion'] = proportions_by_rating['movie_board_rating_display_name']/total*100
proportions_by_rating.drop('movie_board_rating_display_name',axis=1,inplace = True)

In [182]:
proportions_by_rating['proportion'].round(decimals=2)
proportions_by_rating

      rating  total_movies  proportion
1      PG-13           435   38.024476
2          R           431   37.674825
3         PG           178   15.559441
4  Not Rated            59    5.157343
5          G            38    3.321678
6      NC-17             3    0.262238