1)	What are the top three genre of movies with the highest average earnings? 

2)	Do movies with sequels tend to have higher gross earnings than the movies without sequels. You can pick the last movie to come out for a prequel.
<br>

In [1]:
import pandas as pd
import numpy as np

In [51]:
df = pd.read_excel('hollywood.xlsx')
df

,id,name,display_name,production_year,movie_sequel,creative_type,source,production_method,genre,language,board_rating_reason,movie_board_rating_display_name,movie_release_pattern_display_name,total,Category
0,7950115,Avatar,Avatar,2009,0,Science Fiction,Original Screenplay,Animation/Live Action,Action,English,"For intense epic battle sequences and warfare,...",PG-13,Wide,2784,9
1,50950115,Harry Potter and the Deathly Hallows: Part II,Harry Potter and the Deathly Hallows: Part II,2011,1,Fantasy,Based on Fiction Book/Short Story,Animation/Live Action,Adventure,English,for some sequences of intense action violence ...,PG-13,Wide,1328,9
2,119870115,Transformers 3,Transformers: Dark of the Moon,2011,1,Science Fiction,Based on TV,Animation/Live Action,Action,English,for intense prolonged sequences of sci-fi acti...,PG-13,Wide,1124,9
3,119590115,Toy Story 3,Toy Story 3,2010,1,Kids Fiction,Original Screenplay,Digital Animation,Adventure,English,General,G,Wide,1064,9
4,91700115,Pirates of the Caribbean 4,Pirates of the Caribbean: On Stranger Tides,2011,1,Fantasy,Based on Theme Park Ride,Live Action,Adventure,English,for intense sequences of action/adventure viol...,PG-13,Wide,1044,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,144410115,Red State,Red State,2011,0,Contemporary Fiction,Original Screenplay,Live Action,Horror,English,"for strong violence/disturbing content, some s...",R,Limited,1,1
1192,133000115,"Mission, La",La Mission,2009,0,Contemporary Fiction,Original Screenplay,Live Action,Documentary,English,"for language, some violence and sexual content",R,Limited,1,1
1193,630115,2010 Oscar Shorts,2010 Oscar Shorts,2009,1,Multiple Creative Types,Compilation,Multiple Production Methods,Multiple Genres,English,International - to be excluded,Not Rated,Limited,1,1
1194,133360115,"sept jours du talion, Les",Les sept jours du talion,2010,0,Contemporary Fiction,Original Screenplay,Live Action,Documentary,English,International - to be excluded,Not Rated,Wide,1,1
1195,146890115,Damsels in Distress,Damsels in Distress,2010,0,Contemporary Fiction,Original Screenplay,Live Action,Black Comedy,English,for mature thematic content including some sex...,PG-13,Limited,1,1

In [3]:
df.shape

(1196, 15)

In [12]:
## To check if there is any null value in the dataframe
df.isnull().any()

id                                    False
name                                  False
display_name                          False
production_year                       False
movie_sequel                          False
creative_type                         False
source                                False
production_method                     False
genre                                 False
language                              False
board_rating_reason                   False
movie_board_rating_display_name       False
movie_release_pattern_display_name    False
total                                 False
Category                              False
dtype: bool

<br>
<h3>1) What are the top three genre of movies with the highest average earnings?</h3>

In [104]:
movies_grouped_by_genre = df[['total','genre']].groupby('genre',as_index=False)

In [103]:
## This line of code finds total earning by each genre
total_earnings_by_genre = movies_grouped_by_genre.sum()

In [108]:
## This line of code finds total number of movies by each genre
total_number_of_movies_by_genre = movies_grouped_by_genre.count()

total_earnings_by_genre['avg_earnings'] = total_earnings_by_genre['total']/total_number_of_movies_by_genre['total']
total_earnings_by_genre

                 genre  total  avg_earnings
0               Action  25180    203.064516
1            Adventure  32369    302.514019
2         Black Comedy    648     54.000000
3               Comedy  23460     90.230769
4  Concert/Performance    270     45.000000

In [115]:
total_earnings_by_genre = total_earnings_by_genre.sort_values(['avg_earnings'],ascending=False)

<b>Final Answer</b>

In [114]:
total_earnings_by_genre['genre'].head(3)

1    Adventure
0       Action
9      Musical
Name: genre, dtype: object

<br>
<h3>2) Do movies with sequels tend to have higher gross earnings than the movies without sequels. You can pick the last movie to come out for a prequel.</h3>

In [117]:
movie_with_sequel = df[df['movie_sequel']>0].groupby('name')

In [60]:
movie_with_sequel[movie_with_sequel['name'].str.contains('Harry')]

,id,name,display_name,production_year,movie_sequel,creative_type,source,production_method,genre,language,board_rating_reason,movie_board_rating_display_name,movie_release_pattern_display_name,total,Category
1,50950115,Harry Potter and the Deathly Hallows: Part II,Harry Potter and the Deathly Hallows: Part II,2011,1,Fantasy,Based on Fiction Book/Short Story,Animation/Live Action,Adventure,English,for some sequences of intense action violence ...,PG-13,Wide,1328,9
8,50940115,Harry Potter and the Deathly Hallows: Part I,Harry Potter and the Deathly Hallows: Part I,2010,1,Fantasy,Based on Fiction Book/Short Story,Animation/Live Action,Adventure,English,"for some sequences of intense action violence,...",PG-13,Wide,956,9
9,50990115,Harry Potter and the Order of the Phoenix,Harry Potter and the Order of the Phoenix,2007,1,Fantasy,Based on Fiction Book/Short Story,Animation/Live Action,Adventure,English,for sequences of fantasy violence and frighten...,PG-13,Wide,943,9
10,50980115,Harry Potter and the Half-Blood Prince,Harry Potter and the Half-Blood Prince,2009,1,Fantasy,Based on Fiction Book/Short Story,Animation/Live Action,Adventure,English,"for scary images, some violence, language and ...",PG,Wide,934,9

<br>
<h3> 3)	Find the proportion (percentage) of movies by ratings for English language and others (all other languages). Are proportions significantly different from each other? </h3>

In [74]:
movies_by_language = df[['name','language']].groupby('language')
movies_by_language.count()

            name
language
Arabic         1
Danish         1
English     1144
Farsi          1
French        14
German         3
Hebrew         1
Hindi         16
Italian        1
Japanese       2
Norwegian      1
Polish         1
Portuguese     1
Silent         1
Spanish        6
Swedish        2