1)	What are the top three genre of movies with the highest average earnings? 

2)	Do movies with sequels tend to have higher gross earnings than the movies without sequels. You can pick the last movie to come out for a prequel.
<br>
3)	Find the proportion (percentage) of movies by ratings for English language and others (all other languages). Are proportions significantly different from each other?

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('hollywood.xlsx')
df.head()

,id,name,display_name,production_year,movie_sequel,creative_type,source,production_method,genre,language,board_rating_reason,movie_board_rating_display_name,movie_release_pattern_display_name,total,Category
0,7950115,Avatar,Avatar,2009,0,Science Fiction,Original Screenplay,Animation/Live Action,Action,English,"For intense epic battle sequences and warfare,...",PG-13,Wide,2784,9
1,50950115,Harry Potter and the Deathly Hallows: Part II,Harry Potter and the Deathly Hallows: Part II,2011,1,Fantasy,Based on Fiction Book/Short Story,Animation/Live Action,Adventure,English,for some sequences of intense action violence ...,PG-13,Wide,1328,9
2,119870115,Transformers 3,Transformers: Dark of the Moon,2011,1,Science Fiction,Based on TV,Animation/Live Action,Action,English,for intense prolonged sequences of sci-fi acti...,PG-13,Wide,1124,9
3,119590115,Toy Story 3,Toy Story 3,2010,1,Kids Fiction,Original Screenplay,Digital Animation,Adventure,English,General,G,Wide,1064,9
4,91700115,Pirates of the Caribbean 4,Pirates of the Caribbean: On Stranger Tides,2011,1,Fantasy,Based on Theme Park Ride,Live Action,Adventure,English,for intense sequences of action/adventure viol...,PG-13,Wide,1044,9

In [4]:
df.shape

(1196, 15)

In [6]:
df.isnull()
df.any()

id                                    True
name                                  True
display_name                          True
production_year                       True
movie_sequel                          True
creative_type                         True
source                                True
production_method                     True
genre                                 True
language                              True
board_rating_reason                   True
movie_board_rating_display_name       True
movie_release_pattern_display_name    True
total                                 True
Category                              True
dtype: bool

In [7]:
df.

/var/folders/hr/84gg3m1s6y75pg48fs4msrvw0000gn/T/ipykernel_3951/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

id                 8.928203e+07
production_year    2.008985e+03
movie_sequel       9.782609e-02
total              1.047032e+02
Category           3.564381e+00
dtype: float64