In [1]:
import numpy as np
mylist =["red", "blue", "green", "orange", "yellow", "white", "black"]
print(mylist[:4])

['red', 'blue', 'green', 'orange']

In [48]:
#mylist =["red", "blue", "green"]
#[print(x) for x in mylist]

In [75]:
import copy
mylist = ['red','blue']
l1 = copy.copy(mylist)

In [76]:
l2 = copy.deepcopy(mylist)

In [77]:
mylist[2][0]='yellow'

In [78]:
l1

['red', 'blue', ['yellow', 'yellow']]

In [10]:
colors = {"violet", "magenta", "brown"}
colors

{'brown', 'magenta', 'violet'}

In [14]:
import cmath

[print(x) for x in cmath.polar(complex(1+2j))]

2.23606797749979
1.1071487177940904

[None, None]

In [22]:
d = { 'car': 1, 'brand': 2 }
print(*d.values(),sep=',')

1,2

In [4]:
ar = np.array([1,2,3])

In [5]:
ar.dtype

dtype('int64')

In [2]:
import mysql

ModuleNotFoundError: No module named 'mysql'